<nav class="navbar  sticky-top  ">
    <div class="row" style="width: 100%">
        <div class="col-lg-12">
            <div class="d-flex justify-content-start">
        <img  src="../.././images/ln.svg">
    </div>
        </div>
    </div>



</nav>