 <section class="jumbotron jumbo">

            <div class="row rowalign">
                <div class="col-lg-6 intro">
                    <div class="text-center">
                <div >
                    <h1>Validate the skills of potential employees.</h1>
                    <div>
                        <a class="btn btn-primary" href="/signup">Get Started</a>
                    </div>
                </div>
            </div>
                </div>
                <div class="col-lg-5">
                    <img class="beer1" src="../.././images/1.png">

                </div>
            </div>



    </section>
 <!--how it works-->
 <section class="jumbotron jumbo1">
     <div class="row">
         <div class="col-lg-12 text-center h2">
             How it works
         </div>
     </div>

     <div class="row">
         <div class="col-lg-2 how">
             <div class="card" style="width: 15rem;height: 15rem">
                 <img class="card-img-top" src="../.././images/1.png" alt="Card image cap">
                 <div class="card-body">
                     <p class="card-text text-center">select project</p>
                 </div>
             </div>
         </div>
         <div class="col-lg-2 how">
             <div class="card" style="width: 15rem;height: 15rem">
                 <img class="card-img-top" src="../.././images/1.png" alt="Card image cap">
                 <div class="card-body">
                     <p class="card-text text-center">set enviroment variables</p>
                 </div>
             </div>
         </div>
         <div class="col-lg-2 how">
             <div class="card" style="width: 15rem;height: 15rem">
                 <img class="card-img-top" src="../.././images/1.png" alt="Card image cap">
                 <div class="card-body">
                     <p class="card-text text-center">customise requirement</p>
                 </div>
             </div>
         </div>
         <div class="col-lg-2 how">
             <div class="card" style="width: 15rem;height: 15rem">
                 <img class="card-img-top" src="../.././images/1.png" alt="Card image cap">
                 <div class="card-body">
                     <p class="card-text text-center">send invites</p>
                 </div>
             </div>
         </div>
         <div class="col-lg-2 how">
             <div class="card" style="width: 15rem;height: 15rem">
                 <img class="card-img-top" src="../.././images/1.png" alt="Card image cap">
                 <div class="card-body">
                     <p class="card-text text-center">Get comprehensive report</p>
                 </div>
             </div>
         </div>
     </div>


 </section>
<!--features-->
 <section class="jumbotron jumbo1">
     <div class="row">
         <div class="col-lg-12 text-center h2">
             Features
         </div>
     </div>
     <div class="row">
         <div class="col-lg-3 ">
             <div class="card noed" style="width: 15rem;height: 15rem">
                 <img class="card-img-top" src="../.././images/1.png" alt="Card image cap">
                 <div class="card-body">
                     <p class="card-text text-center">Project library</p>
                 </div>
             </div>
         </div>
         <div class="col-lg-3 ">
             <div class="card noed" style="width: 15rem;height: 15rem">
                 <img class="card-img-top" src="../.././images/1.png" alt="Card image cap">
                 <div class="card-body">
                     <p class="card-text text-center">Comprehensive reports</p>
                 </div>
             </div>
         </div>
         <div class="col-lg-3 ">
             <div class="card noed" style="width: 15rem;height: 15rem">
                 <img class="card-img-top" src="../.././images/1.png" alt="Card image cap">
                 <div class="card-body">
                     <p class="card-text text-center">Application tracking</p>
                 </div>
             </div>
         </div>
         <div class="col-lg-3 ">
             <div class="card noed" style="width: 15rem;height: 15rem">
                 <img class="card-img-top" src="../.././images/1.png" alt="Card image cap">
                 <div class="card-body">
                     <p class="card-text text-center">Monitored IDE</p>
                 </div>
             </div>
         </div>


     </div>







    </section>
  <!--benefits-->
 <section class="jumbotron jumbo1">
     <div class="row">
         <div class="col-lg-12 text-center h2">
             Benefits
         </div>
     </div>
     Metrics that matter
     End to end
     Time
     Skill fit



    </section>
  <!--what we support-->
 <section class="jumbotron jumbo1">
     <div class="row">
         <div class="col-lg-12 text-center h2">
             We support
         </div>
     </div>

     <div class="row">
         <img class="img-thumbnail fly" src="../.././images/languages/javascript.svg" >
         <img class="img-thumbnail fly" src="../.././images/languages/python.svg" >
         <img class="img-thumbnail fly" src="../.././images/languages/java.svg" >
         <img class="img-thumbnail fly" src="../.././images/languages/php.svg" >
         <img class="img-thumbnail fly" src="../.././images/languages/cplusplus.svg" >
         <img class="img-thumbnail fly" src="../.././images/languages/csharp.svg" >
         <img class="img-thumbnail fly" src="../.././images/languages/dot-net.svg" >
         <img class="img-thumbnail fly" src="../.././images/languages/ruby.svg" >

     </div>

    </section>



 <!--footer-->
 <footer class="jumbotron jumbofoot">
    <div class="container">
        <div class="row">
            <div class="directory col-xs-6 col-sm-3">
                <h3 class="directory-title">Products</h3>
                <ul class="directory-items list-unstyled">
                    <li><a class="colorlink" href="/take_home">Pair programming</a></li>
                    <li><a class="colorlink" href="/remote_interview">Video proctor</a></li>
                    <li><a class="colorlink" href="/pricing">Pricing</a></li>
                </ul>
            </div>
            <div class="directory col-xs-6 col-sm-3">
                <h3 class="directory-title">Company</h3>
                <ul class="directory-items list-unstyled">
                    <li><a class="colorlink" href="/about">About us</a></li>
                    <li><a class="colorlink" href="/careers">Careers</a></li>
                    <li><a class="colorlink" href="#">Blog</a></li>
                </ul>
            </div>
            <div class="directory col-xs-6 col-sm-3">
                <h3 class="directory-title">Resources</h3>
                <ul class="directory-items list-unstyled">
                    <li><a class="colorlink" href="#">Contact us</a></li>
                    <li><a class="colorlink" href="#">Help center</a></li>
                    <li><a class="colorlink" href="/terms">Terms and conditions</a></li>
                    <li><a class="colorlink" href="/privacy">Privacy policy</a></li>
                </ul>
            </div>
            <div class="directory col-xs-6 col-sm-3">
                <h3 class="directory-title">Follow</h3>
                <ul class="directory-items list-unstyled">
                    <li>
                        <a href="https://twitter.com/" target="_blank">
                            <i><span data-feather="twitter"></span></i>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <i><span data-feather="linkedin"></span></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

