<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="cardno great gr" >
            <div class="card-body">
                <img class="beer" src="../.././images/1.png">
                <div class="h4">Validate the programming skills of potential employees</div>
                <hr>
                <ul class="h5 ">
                <li>Explore our project library</li>
                <li>Custom environment variables</li>
                <li>Easily monitor ongoing assessments</li>
                <li>Get comprehensive reports</li>
                <li>Live demos of candidates work</li>
            </ul>
            </div>
            </div>


        </div>
        <div class="col-lg-4 ">

            <h4>Tell us more about yourself</h4>

            <form  action="/profile" method="post">


            <div class="form-group">

                <label>User name</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label>Organization</label>
                <input type="text" class="form-control" name="company">
            </div>
                <div class="form-group">
                <label>Position</label>
                <select id="inputState" name="position" class="form-control">
                    <option selected>Choose...</option>
                    <option>Chief executive officer</option>
                    <option>Chief technology officer</option>
                    <option>Human resource</option>
                    <option>Talent acquisition</option>
                </select>
            </div>

                <button type="submit"  class="btn btn-warning btn-lg">Update profile</button>


        </form>







        </div>

    </div>


</div>