<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="cardno great gr" >
            <div class="card-body">
                <div class="h2" style="color: #4636F4">Code\n</div>
                <div class="h4">Validate the programming skills of potential employees</div>
                <hr>
                <ul class="h5 ">
                <li>Explore our project library</li>
                <li>Custom environment variables</li>
                <li>Easily monitor ongoing assessments</li>
                <li>Get comprehensive reports</li>
                <li>Live demos of candidates work</li>
            </ul>
            </div>
            </div>


        </div>
        <div class="col-lg-4">
            <form class="form-signin great" method="post" action="/signin">
                <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72"
                     height="72">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required=""
                       autofocus="">
                <hr>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                <div class="checkbox mb-3">
                    <hr>
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-warning btn-lg" type="submit">Sign in</button>
                <hr>
                <p>Need an account? <a href="/signup">Signup</a></p>
                <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
            </form>
        </div>
    </div>


</div>