<form role="form" action="" method="post" class="f1">

    <div class="f1-steps text-center">
        <div class="f1-progress">
            <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="6" style="width: 16.66%;"></div>
        </div>
        <div class="f1-step active">
            <div class="f1-step-icon">1</div>
            <p>Project library</p>
        </div>
        <div class="f1-step">
            <div class="f1-step-icon">2</div>
            <p>Custom project</p>
        </div>
        <div class="f1-step">
            <div class="f1-step-icon">3</div>
            <p>deliverables</p>
        </div>
        <div class="f1-step">
            <div class="f1-step-icon">4</div>
            <p>Send invites</p>
        </div>
        <div class="f1-step">
            <div class="f1-step-icon">5</div>
            <p>Invoice</p>
        </div>
        <div class="f1-step">
            <div class="f1-step-icon">6</div>
            <p>Complete</p>
        </div>
    </div>

    <!--- project library---->
    <fieldset>
        <!-- List group -->
        <div class="row">
            <div class="col-lg-4">
                <p>Browse by category</p>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        All
                        <span class="badge badge-primary badge-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        HTML/CSS
                        <span class="badge badge-primary badge-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Javascript
                        <span class="badge badge-primary badge-pill">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Python
                        <span class="badge badge-primary badge-pill">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Php
                        <span class="badge badge-primary badge-pill">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Java
                        <span class="badge badge-primary badge-pill">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Ruby
                        <span class="badge badge-primary badge-pill">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        System architecture
                        <span class="badge badge-primary badge-pill">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Dev ops
                        <span class="badge badge-primary badge-pill">1</span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8">
                <div class="card createprojectcard" style="margin-top: 36px;padding: 11px">

                    <header>
                        <h3>Crypto-price-watcher</h3>

                    </header>

                    <div>
                        <p>Skills tested:
                            <span class="badge badge-primary badge-pill" style="background: #007BFF">Javascript</span>
                            <span class="badge badge-primary badge-pill"
                                  style="background: #007BFF">Websocket api</span>
                            <span class="badge badge-primary badge-pill" style="background: #007BFF">Postgress</span>
                            <span class="badge badge-primary badge-pill" style="background: #007BFF">Express js framework</span>

                        </p>
                        <hr>

                        <p>You have been approached by a client who has a healthy interest in Cryptocurrency. He wants
                            to know how the various coins are performing against US Dollars. His Company is mostly
                            interested in Bitcoin. What his team needs is a dashboard that shows the price of Bitcoin at
                            any point in time without having to refresh the browser.
                            They need the pricing information in realtime because that'd influence their decision
                            whether to buy or sell.</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-next btn-primary" style="margin-bottom:5px;background: #7d8cd4;">View
                            project
                        </button>
                    </div>
                </div>
                <div class="card createprojectcard" style="margin-top: 25px;padding: 11px">

                    <header class="w3-container">
                        <h3>Photo sharing service</h3>

                    </header>

                    <div>
                        <p>Skills tested:

                            <span class="badge badge-primary badge-pill"
                                  style="background: #007BFF">System architecture</span>

                        </p>
                        <hr>

                        <p>
                            Design the infrastructure for a new global photo sharing site to compete with products like
                            imgur.

                            Deliverables
                            System architecture diagram with components
                            Process flow description, using the diagram
                            How many machines you'll need, justified by your total resource estimates


                        </p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-next btn-primary" style="margin-bottom:5px;background: #7d8cd4;">View
                            project
                        </button>
                    </div>

                </div>


            </div>
        </div>
    </fieldset>
    <!--- project customisation---->
    <fieldset>
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <img class="card-img-top" src="../.././images/capture.PNG" alt="Card image cap">
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h5 class="cardtitle">Choose enviroment variables </h5>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputState">Language</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>Python</option>
                            <option>Javascript</option>
                            <option>Java</option>
                            <option>Php</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputState">Framework</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>Django</option>
                            <option>Angular</option>
                            <option>Express</option>
                            <option>React</option>
                            <option>Maven</option>
                            <option>Laravel</option>

                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputState">Database</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>Postgress</option>
                            <option>Mongo</option>
                            <option>Firebase</option>
                            <option>mariadb</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputState">Version control system</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>Github</option>
                            <option>Gitlab</option>
                            <option>Bitbucket</option>
                            <option>kiln</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputState">Time (hr)</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>

                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next" style="background: #1cbcff">Next</button>
        </div>
    </fieldset>
    <!--- candidate requirements---->
    <fieldset>
        <div class="card cardno">
            <div class="d-flex justify-content-center">
                <h5 class="text-center">candidates requirements</h5>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-center"><strong>Basic features</strong></div>
                        <ul>
                            <li>Improved UI/UX</li>
                            <li>Sign up for users at your Client's company</li>
                            <li>Login (you are free to use a package such as Passport for Authentication)</li>
                            <li>Integration with at least 3 exchanges (with Websocket API for their market data).
                                Examples of such exchanges are Bitstamp, OKCoin, etc.
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-center"><strong>Advanced features</strong></div>
                        <ul>
                            <li>Persist the market data in a PostgreSQL database (node-postgres)</li>
                            <li>Allow users to set up alerts for a certain price point</li>

                        </ul>

                    </div>
                </div>
                <div class="row">

                    <div class="form-group ml-auto" style="width: 50%;">
                        <label for="exampleFormControlTextarea1">Add requirements</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                  style="border-color: #000000;"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group ml-auto">
                        <div class="f1-buttons">
                            <button type="button" class="btn btn-previous">Previous</button>
                            <button type="button" class="btn btn-next" style="background: #1cbcff">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </fieldset>
    <!--- invites---->
    <fieldset>
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex justify-content-center">

                    <h4>Upload list of candidates to invite</h4>
                </div>
            </div>
        </div>
        <div class="row " style="margin-top: 84px">
            <div class="col-lg-12">
                <div class="text-center">
                    <img style="height: 70px;width: 70px" src="../.././images/outbox.svg">
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 44px">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="form-group">

                    <div style="margin-left: 63px">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>

        </div>
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next" style="background: #1cbcff">Next</button>
        </div>
    </fieldset>
    <!--- invoicing---->
    <fieldset>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 ">
                    <div class="card2">
                        <div class="text-center">
                            <h3>Receipt</h3>
                        </div>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>candidates</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="col-md-9"><em>Bitcoin app</em></h4></td>
                                <td class="col-md-1" style="text-align: center"> 25</td>
                                <td class="col-md-1 text-center">$10</td>
                                <td class="col-md-1 text-center">$250</td>
                            </tr>

                            <tr>
                                <td>  </td>
                                <td>  </td>

                            </tr>
                            <tr>
                                <td>  </td>
                                <td>  </td>
                                <td class="text-right"><h4><strong>Total: </strong></h4></td>
                                <td class="text-center text-danger"><h4><strong>$250</strong></h4></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div class="card2" style="width: 80%">
                        <div class="card-header" style="background: white">
                            <div class="row">

                                <img style="height: 50px" class="img-fluid cc-img"
                                     src="http://www.prepbootstrap.com/Content/images/shared/misc/creditcardicons.png">
                            </div>
                        </div>
                        <div class="card-block">

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>CARD NUMBER</label>
                                        <div class="input-group">
                                            <input type="tel" class="form-control" placeholder="Valid Card Number"/>
                                            <span class="input-group-addon"><span
                                                    class="fa fa-credit-card"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-7 col-md-7">
                                    <div class="form-group">
                                        <label><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span>
                                            DATE</label>
                                        <input type="tel" class="form-control" placeholder="MM / YY"/>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 float-xs-right">
                                    <div class="form-group">
                                        <label>CV CODE</label>
                                        <input type="tel" class="form-control" placeholder="CVC"/>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="card-footer" style="background: white">
                            <div class="row">
                                <div class="col-lg-12">
                                    <button class="btn btn-warning btn-lg btn-block btn btn-next"
                                            style="background: #f0ad4e">Process payment
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <style>
            .cc-img {
                margin: 0 auto;
            }
        </style>


    </fieldset>
    <!--Thank you --->
    <fieldset>

        <div class="f1-buttons">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-center">
                        <h5>Application complete</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-center">
                        <h6>Go to dashboard</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-center">
                        <a href="/">
                            <button type="button" href="dashboard2.php" style="background: #1cbcff"
                                    class="btn btn-submit">Dashboard
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

</form>