<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h4>Projects</h4>
</div>
<div class="row">
    <div class="col-sm-4">
        <a href="/project">
            <div class="card card1">
                <div class="card-body">
                    <h5 class="card-title">Bitcoin app</h5>
                    <p class="card-text">20 candidates.</p>

                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-4">
        <a href="/project">
            <div class="card card1">
                <div class="card-body">
                    <h5 class="card-title">Photoshare devops</h5>
                    <p class="card-text">10 candidates.</p>

                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-4">
        <a href="/createproject">
            <div class="card card1">
                <div class="card-body">
                    <h5 class="card-title cardtitle1"> Add new project</h5>

                </div>
            </div>
        </a>
    </div>
</div>

