<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

    <h5>Project library</h5>
</div>

<!-- List group -->
        <div class="row">

            <div class="col-lg-8">
                <div class="card createprojectcard" style="padding: 11px">

                    <header>
                        <h3>Crypto-price-watcher</h3>

                    </header>

                    <div>
                        <p>Concept tested:
                            <span class="badge badge-primary badge-pill" style="background: #007BFF">Web socket api</span>


                        </p>
                        <hr>

                        <p>You have been approached by a client who has a healthy interest in Cryptocurrency. He wants
                            to know how the various coins are performing against US Dollars. His Company is mostly
                            interested in Bitcoin. What his team needs is a dashboard that shows the price of Bitcoin at
                            any point in time without having to refresh the browser.
                            They need the pricing information in realtime because that'd influence their decision
                            whether to buy or sell.</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-primary" href="/custom" role="button">View project</a>

                    </div>
                </div>



            </div>
            <div class="col-lg-4">
                <h5>Upload custom project</h5>
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlFile1"></label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                </form>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-8">
                <div class="card createprojectcard" style= " padding: 11px">

                    <header class="w3-container">
                        <h3>Photo sharing service</h3>

                    </header>

                    <div>
                        <p>Skills tested:

                            <span class="badge badge-primary badge-pill"
                                  style="background: #007BFF">System architecture</span>

                        </p>
                        <hr>

                        <p>
                            Design the infrastructure for a new global photo sharing site to compete with products like
                            imgur.

                            Deliverables
                            System architecture diagram with components
                            Process flow description, using the diagram
                            How many machines you'll need, justified by your total resource estimates


                        </p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-primary" href="/custom" role="button">View project</a>
                    </div>

                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-lg-8">
                <div class="card createprojectcard" style= " padding: 11px">

                    <header class="w3-container">
                        <h3>Photo sharing service</h3>

                    </header>

                    <div>
                        <p>Skills tested:

                            <span class="badge badge-primary badge-pill"
                                  style="background: #007BFF">System architecture</span>

                        </p>
                        <hr>

                        <p>
                            Design the infrastructure for a new global photo sharing site to compete with products like
                            imgur.

                            Deliverables
                            System architecture diagram with components
                            Process flow description, using the diagram
                            How many machines you'll need, justified by your total resource estimates


                        </p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-primary" href="/custom" role="button">View project</a>
                    </div>

                </div>
            </div>
        </div>

